## .NET / Visual Studio ##

bin/
obj/
.vs/
*.user
*.sln.docstates

## Bancos de Dados ##

emissaonf
estoque
*.db
*.db-journal

## Node / Angular ##

node_modules/
/dist
/tmp
/out-tsc
/.angular/cache
npm-debug.log
yarn-error.log

## IDEs e Editores ##

.vscode/
.history/
.idea/
*.sublime-workspace

## System Files ##

.DS_Store
Thumbs.db
Desktop.ini